<a href="https://colab.research.google.com/github/cyrinemimouni/ML/blob/main/reg_linea_simple_maison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
data =pd.read_csv('/content/maisons.csv')
data

         date   age       metro  epicerie  latitude  longitude  prix
0    2012.917  32.0    84.87882        10  24.98298  121.54024  37.9
1    2012.917  19.5   306.59470         9  24.98034  121.53951  42.2
2    2013.583  13.3   561.98450         5  24.98746  121.54391  47.3
3    2013.500  13.3   561.98450         5  24.98746  121.54391  54.8
4    2012.833   5.0   390.56840         5  24.97937  121.54245  43.1
..        ...   ...         ...       ...       ...        ...   ...
409  2013.000  13.7  4082.01500         0  24.94155  121.50381  15.4
410  2012.667   5.6    90.45606         9  24.97433  121.54310  50.0
411  2013.250  18.8   390.96960         7  24.97923  121.53986  40.6
412  2013.000   8.1   104.81010         5  24.96674  121.54067  52.5
413  2013.500   6.5    90.45606         9  24.97433  121.54310  63.9

[414 rows x 7 columns]

In [ ]:
plt.scatter(data['age'],data['prix'],c='g')

In [ ]:
x = data.iloc[:, 1:2].values

In [ ]:
y = data.iloc[:, -1:].values

In [ ]:
#split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1.0/3)
print(len(x))
print(len(x_train)) 
print(len(x_test))

414
276
138

In [ ]:
regression=LinearRegression()
regression.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred= regression.predict(x_test)
print(y_pred[0:10])
print(y_test[0:10])

[[38.05035176]
 [40.39640893]
 [39.88142077]
 [37.15389089]
 [35.43726369]
 [37.74517359]
 [35.34189552]
 [41.08305981]
 [40.26289348]
 [38.56533992]]
[[42.1]
 [61.9]
 [58.1]
 [21.8]
 [25. ]
 [24.5]
 [55.3]
 [55.3]
 [45.2]
 [30.8]]

In [1]:
plt.scatter(data['age'],data['prix'],c='r')
#age,prix=x,regression.predict(x)
plt.plot(x_test, y_pred)
plt.xlabel('Age')
plt.ylabel('Prix')
plt.show()

NameError: ignored

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test,y_pred)

0.05280930644500881